# Exploring categorical variables

In-class Assignment week 2

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('class.csv')
df.head()

,id,gender,instagram_followers,linkedin_con,phones_owned,apps_phone,os_phone,like_social,like_tech
0,1,Male,0.0,790.0,6.0,51.0,Android,Neutral,Agree
1,3,Female,680.0,174.0,6.0,122.0,iOS,Agree,Agree
2,4,Female,150.0,100.0,7.0,65.0,iOS,Neutral,Agree
3,6,Female,541.0,254.0,6.0,56.0,iOS,Neutral,Agree
4,7,Female,829.0,755.0,5.0,73.0,iOS,Agree,Agree

In [2]:
pd.value_counts(df["like_social"])

Agree       24
Neutral     14
Disagree     6
agree        2
Name: like_social, dtype: int64

In [3]:
pd.crosstab(df["gender"], df["like_social"])

like_social  Agree  Disagree  Neutral  agree
gender
Female          18         4        8      1
Male             6         2        6      1

In [4]:
pd.crosstab(df["like_social"],df["gender"], normalize="columns")

gender         Female      Male
like_social
Agree        0.580645  0.400000
Disagree     0.129032  0.133333
Neutral      0.258065  0.400000
agree        0.032258  0.066667

In [8]:

sns.displot(x="gender", hue="like_social", data=df)
plt.show()

AttributeError: module 'seaborn' has no attribute 'displot'

For students in the MDDD program, females generally like social media more than males. It is also important to note that there are more fem